{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>コーナー削除</h2>
    <form id="deletionForm" method="POST" action="/delete_corner">
        <div class="form-group">
            <label for="radioSelect">ラジオ：</label><br>
            <select id="radioSelect" name="radioName" class="form-control">
                {% for radio_name in radio_names %}
                    <option value="{{ radio_name }}">{{ radio_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cornerSelect">コーナー：</label><br>
            <select id="cornerSelect" name="cornerName" class="form-control">
                {% for corner_name in corner_names %}
                    <option value="{{ corner_name }}">{{ corner_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">コーナー削除</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<!-- 追加: 選択ボタンを制御する JavaScript -->
<script src="./static/js/deletion_corner.js"></script>
{% endblock %}