{% extends "base.html" %}

{% block body %}
<div class="button-container"></div>
    <a href="/mail" class="btn btn--yellow btn--cubic" target="_blank">はがき作成</a>
    <a href="/register_radio" class="btn btn--yellow btn--cubic" target="_blank">ラジオ追加</a>
    <a href="/register_corner" class="btn btn--yellow btn--cubic" target="_blank">コーナー追加</a>
    <a href="/delete_radio" class="btn btn--yellow btn--cubic" target="_blank">ラジオ削除</a>
    <a href="/delete_corner" class="btn btn--yellow btn--cubic" target="_blank">コーナー削除</a>        
</div>
<div class="player-container">
    {% for url in urls.standfm %}
    <div class="player">
        <iframe src="{{ url }}" class="standfm-embed-iframe" width="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    {% endfor %}
    
    {% for url in urls.youtube %}
    <div class="player">
        <iframe src="{{ url }}" title="YouTube video player" width="100%" height="352" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endfor %}
    
    {% for url in urls.spotify %}
    <div class="player">
        <iframe style="border-radius:12px" src="{{ url }}" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    {% endfor %}

    {% for url in urls.radiotalk %}
    <div calss="player">
        <iframe width="460" height="176" src="{{ url }}" frameborder="0" scrolling="no" allowfullscreen style="max-width: 100%;"></iframe>
    </div>
    {% endfor %}

    {% for url in urls.tver %}
    <div calss="player">
        <iframe src="{{ url }}" width="600" height="350" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endfor %}

    {% for url in urls.radiko %}
    <div calss="player">
        <iframe title="オールナイトニッポン０（ＺＥＲＯ）" src="{{ url }}" width="150%" height="300px" allow="clipboard-write *; web-share *;"></iframe>
    </div>
    {% endfor %}
    <br>
    
    <div class="footer">
        <a href="https://gera.fan/external" target="_blank">
            <img src="../static/css/images/gera2.jpg" alt="Click me!">
        </a>
        <a href="https://radiocloud.jp/hp/index.html" target="_blank">
            <img src="../static/css/images/rc2.png" alt="Click me!">
        </a>
    </div>
</div>
<!-- 他の iframe も同様に -->
{% endblock %}

{% block scripts %}
<script src="./static/js/script.js"></script>
{% endblock %}
