{% extends "base.html" %}

{% block body %}
<div class="registrationForm">
    <h2 class="form-title">はがき作成</h2>
    <form id="registerForm" method="POST" action="/mail">
        <div class="form-group">
            <label for="radioSelect" class="input-label">ラジオ：</label><br>
            <select id="radioSelect" name="radioName" class="input-field">
                {% for radio_name in radio_names %}
                    <option value="{{ radio_name }}">{{ radio_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cornerSelect" class="input-label">コーナー：</label><br>
            <select id="cornerSelect" name="cornerName" class="input-field">
                {% for corner_name in corner_names %}
                    <option value="{{ corner_name }}">{{ corner_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="content" class="input-label">本文：</label><br>
            <textarea id="content" name="content" class="input-field" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn--submit btn--cubic">送信</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<!-- 追加: 選択ボタンを制御する JavaScript -->
<script src="./static/js/mail.js"></script> 
{% endblock %}
